{% extends 'HBBlogBundle::layout.html.twig' %}

{% block content -%}
    <h1>Home edit</h1>
   
{% endblock %}

{% block body %}
    {# cela permet d'inclure le controller donc une redirection vers tous notre articles #}
{{ render(controller("HBBlogBundle:Article:index")) }}

{% endblock %}

    

